@charset "utf-8";
  
/* Noto Sans KR */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('../font/NotoSansKR/NotoSansKR-Black.eot'), /* IE9 Compat Modes */
    url('../font/NotoSansKR/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff'), /* Modern Browsers */
		url('../fonts/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/NotoSansKR/NotoSansKR-Black.otf') format('opentype'), /* Safari, Android, iOS */
    url('../fonts/NotoSansKR/NotoSansKR-Black.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSansKR/NotoSansKR-Bold.eot'),
    url('../font/NotoSansKR/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype'),
    url('../fonts/NotoSansKR/NotoSansKR-Bold.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../font/NotoSansKR/NotoSansKR-Medium.eot'),
    url('../font/NotoSansKR/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype'),
    url('../fonts/NotoSansKR/NotoSansKR-Medium.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansKR/NotoSansKR-Regular.eot'),
    url('../font/NotoSansKR/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype'),
    url('../fonts/NotoSansKR/NotoSansKR-Regular.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../font/NotoSansKR/NotoSansKR-Light.eot'),
    url('../font/NotoSansKR/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR/NotoSansKR-Light.woff') format('woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype'),
    url('../fonts/NotoSansKR/NotoSansKR-Light.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('../font/NotoSansKR/NotoSansKR-Thin.eot'),
    url('../font/NotoSansKR/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/NotoSansKR/NotoSansKR-Thin.woff') format('woff'),
    url('../fonts/NotoSansKR/NotoSansKR-Thin.woff2') format('woff2'),
    url('../fonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype'),
    url('../fonts/NotoSansKR/NotoSansKR-Thin.svg#NotoSansKR') format('svg');
}

/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Pretendard/Pretendard-Bold.subset.woff2') format('woff2');    
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Pretendard/Pretendard-SemiBold.subset.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Pretendard/Pretendard-Medium.subset.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
  src: url('../fonts/Pretendard/Pretendard-Regular.subset.woff2') format('woff2');
}

/* Pretendard */
@font-face {
	font-family: 'RedHat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/RedHat/RedHatDisplay-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'RedHat';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/RedHat/RedHatText-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'RedHat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/RedHat/RedHatDisplay-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'RedHat';
	font-style: normal;
	font-weight: 400;
  src: url('../fonts/RedHat/RedHatDisplay-Regular.woff2') format('woff2');
}