.main_type{
  section{
    padding: 100px 0;
  }
  .sec{
    &_state{
      padding: 200px 0 150px;
    }
    &_visual{
      padding: 0;
    }
    &_solution{
      padding: 150px 0 0;
    }
    &_service, &_primium, &_manage{
      padding: 150px 0;
    }
  }
  .btn_group{
    width: 100%;
    justify-content:center;
  }
  h2{
    padding-bottom: 60px;
  }
}
//Visual Section
.sec_visual{
  border: 1px solid red;
  position: relative;
  &::before{
    content:'';
    display: block;
    width: 100%;
    padding-bottom: calc(100vh - 112px);
  }
  h1{
    margin-bottom: 24px;
    em{
      position: relative;
      &::before{
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 6px;
        left: 0;
        background-color: $color-secondary;
        border-radius: 999px;
      }
    }
  }
  .btn_group{
    margin-top: 36px;
  }
  .btn{
    width: 260px;
    justify-content: center;
  }
  .scroll_down{
    position: absolute;
    right: 0%;
    bottom: -1.1%;
    font-size: 16px;
    font-weight: 500;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 99;
    span { 
      position: relative;
      font-family: "Poppins";
      font-weight: 600; 
    } 
    &::after { 
      content: '';
      position: absolute;
      width: 2px;
      height: 92px;
      right: -58px;
      top: -47px;
      margin-top: 12px;
      background: #1a1818;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    } 
  }
  .sec_inner{
    z-index: 1;
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 100px 0;
  }
}
.visual_area{
  z-index: -1;
  background-color: $color-box;
  position: absolute;
  width: 100%;
  top:0px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 262px);//112 + 150
  .inner{
    z-index: 1;
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1480px;
    height: 100%;
  }
  img{
    position:absolute;
    bottom: 0;
  }
  .text01{
    width:4.73%;
    bottom: 46%;
    left: 19.57%;
  }
  .text02{
    width:8.31%;
    bottom: 32.6%;
    left: 12.56%;
  }
  .text03{
    width: 9.19%;
    bottom: 14%;
    left: 6.78%;
  }
  .flower{
    width: 6.76%;
    bottom: -5%;
    right: 8.35%;
    z-index: 1;
  }
  .coffee{
    width: 5.14%;
    bottom: -5%;
    right: 50.8%;
    z-index: 1;
  }
  .desk{
    width: 42.84%;
    bottom: 0px;
    right:0;
  }
  .people{
    width: 26.62%;
    bottom: -40px;
    left: 14.18%;
    z-index: 2;
  }
  .img_floating{
    width: 40.81%;
    bottom: 7.4%;
    right: 9%;
    z-index: 1;
  }
  .img_floating.sns{
    width: 40%;
    bottom: -7%;
    right: 24.22%;
  }
  .laptop{
    width: 21.89%;
    bottom: -11.7%;
    left: 6.3%;
    z-index: 1;
  }
  .line{
    z-index: 1;
    width: 100%;
  }
  .bubble{
    opacity: 0;
    animation-name: scaleUp, fadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-direction: alternate, normal;
    animation-fill-mode: forwards;
  }  
  .img_floating{
    opacity: 0;
    animation-name: floating, fadeIn;
    animation-duration: 3s, 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate, normal;
  }
  .people{
    opacity: 0;
    animation-name: fadeUp, fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards, forwards;
  }
  .desk, .laptop{
    animation-delay: 0.25s;
  }
  .img_floating{
    animation-delay: 0.5s;
  }  
  .text01{
    animation-delay: 0.75s;
  }
  .text02, .coffee, .flower{
    animation-delay: 1s;
  }
  .text03{
    animation-delay: 1.25s;
  }
}
//State Section
.sec_state{
  .marquee_wrap{
    padding-bottom: 200px;
  }
  .marquee_group{
    animation-duration: 45s;
    img{
      max-height: 120px;
    }
  }
  .list_card{
    height: 395px;
    align-items: center;
    li{
      font-weight: $fw-b;
      text-align: center;
      font-size: $fs-l;
      padding-top: 80px;
      align-self: auto;
      //background-color: transparent;
      &:nth-child(1){
        background: #eee url('../images/icon/ico_state_01.svg') top center/64px no-repeat;
      }
      &:nth-child(2){
        background: #eee url('../images/icon/ico_state_02.svg') top center/64px no-repeat;
      }
      &:nth-child(3){
        background: #eee url('../images/icon/ico_state_03.svg') top center/64px no-repeat;
      }
      & > div{
        font-size:$fs-xlg;
        color:$color-primary;
        margin-bottom: 24px;
      }
    }
  }
}
//Solution Section
.sec_solution{
  h2{
    p{
      margin-top: 8px;
      font-weight: $fw-n;
      font-size: $fs-sm;
      color: $gray-200;
    }
  }
}
//Why Section
.sec_why{
  .list_card{
    li{
      min-width: auto;
      padding: 0;
      img{
        height: 426px;
        width: auto;
        max-width: none;
      }
      p{
        margin-top: 30px;
        padding: 0 24px;
        text-align: center;
        color: $gray-200;
        line-height: 1.63;
      }
    }
  }
}
//Service Section
.sec_service{
  .sec_desc{
    margin-top: 16px;
    font-size: $fs-l;
    line-height: 1.45;
    letter-spacing: -0.77px;
    font-weight: $fw-n;
  }
  .list_card{
    li{
      position: relative;
      padding: 180px 56px 40px;      
      text-align: center;
      transition: background-color .3s;
      &:hover{
        background-color: $color-box-hover;
      }      
      a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        &:nth-child(1){
          background: url('../images/icon/ico_list_01.svg') top 10% center/140px no-repeat;
        }
        &:nth-child(2){
          background: url('../images/icon/ico_list_02.svg') top 10% center/140px no-repeat;
        }
        &:nth-child(3){
          background: url('../images/icon/ico_list_03.svg') top 10% center/140px no-repeat;
        }
        &:nth-child(4){
          background: url('../images/icon/ico_list_04.svg') top 10% center/140px no-repeat;
        }
        &:nth-child(5){
          background: url('../images/icon/ico_list_05.svg') top 10% center/140px no-repeat;
        }
        &:nth-child(6){
          background: url('../images/icon/ico_list_06.svg') top 10% center/140px no-repeat;
        }
      }
      .card_tit{
        font-weight: $fw-b;
        font-size: $fs-l;
        display: flex;
        align-items: center;
        justify-content: center;
        .badge {
          margin-left: 8px;
        }
        & + .card_desc{
          margin-top: 12px;
        }
      }
      .card_desc{
        color: $gray-200;
      }
    }
  }
}
//Primium Section
.sec_primium{
  .sec_inner{
    display: flex;
  }
  .left{
    flex: 2;
    .btn{
      width: 100%;
      justify-content: center;
      margin-top: 60px;
    }
  }
  .right{
    flex: 3;
  }
  .list_card{
    li{
      margin-left: auto;
      max-width: 550px;
      padding-left: 160px;
      background-image: url('../images/icon/ico_consult_01.svg');
      background-position:left 24px center;
      background-size:140px;
      background-repeat:no-repeat;
      &:nth-child(1){
        background-image: url('../images/icon/ico_consult_01.svg');
      }
      &:nth-child(2){
        background-image: url('../images/icon/ico_consult_02.svg');
      }
      &:nth-child(3){
        background-image: url('../images/icon/ico_consult_03.svg');
      }
      &:nth-child(4){
        background-image: url('../images/icon/ico_consult_04.svg');
      }
    }
    .card_tit{
      font-weight: $fw-b;
      font-size: $fs-l;
      display: flex;
      align-items: center;
      .badge {
        margin-left: 8px;
      }
      & + .card_desc{
        margin-top: 12px;
      }
    }
    .card_desc{
      color: $gray-200;
    }
  }
}
//Example Section
.sec_example{
  .marquee{
    &_item{
      flex: 1;
      width: 346px;
      height: 230px;
      padding: 30px;
      background-color: $color-white;
      border-radius: 12px;
      .badge_round{
        &+ .tit{
          margin-top: 8px;
        }
      }
      .tit{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $fs-ml;
        font-weight: $fw-b;
        img{
          height: 20px;
          width: auto;
        }
        &+ .desc{
          margin-top: 12px;
        }
      }
      .desc{
        color:$gray-100;
        line-height: 1.375;
        em{
          color:$gray-400;
          font-weight: $fw-sb;
        }

      }
    }
  }
  .list_card{
    margin-top: 120px;
    $gap: 40px;
    li{
      padding: 0;
    }
    .card_tit{
      font-size: $fs-l;
      margin-top: 16px;
      font-weight: $fw-b;
      & + .card_desc{
        margin-top: 8px;
      }
    }
    .card_desc{
      font-size: $fs-m;
      color:$gray-200;
    }
    img{
      border-radius: 8px;
    }
  }
  .btn{
    width: 400px;
    justify-content: center;
    margin-top: 60px;
  }
}
//Manage Section
.sec_manage{
  .tab_menu{
  }
  .tab_cont{
    padding: 80px 0 0;
    &_item{
      display: flex;
      align-items: flex-start;
      &.current{
        display: flex !important;
      }
    }
    .img_area{
      flex: 3;
      border: 1px solid;
    }
    .text_area{
      flex: 2;
      padding:40px 180px 40px 32px;
      .badge{
        & + .tit{
          margin-top: 8px;
        }
      }
      .tit{
        font-weight: $fw-b;
        & + .desc{
          margin-top: 16px;
        }
      }
      .desc{
        color: $gray-200;
      }
      .btn{
        margin-top: 40px;
      }
    }
  }
}
//Start Section
.sec_start{
  .btn{
    width: 260px;
    justify-content: center;
  }
}